div.about
  position absolute
  top 50%
  left 50%
  width 540px
  height 330px

  margin-left -270px
  margin-top -165px

  display none

  
  h3
    font bold 30px 'Enriqueta', serif
    color white
    text-align center
    width 100%

    margin-bottom 40px

  p, ul li
    font normal 14px 'Enriqueta', serif
    line-height 15px
    color white

  ul
    margin-bottom 15px

  p
    margin-bottom 15px

  strong
    font-weight bold

  a
    color #a8b4e3
    text-decoration none
    &:hover
      color #6d7ec2

  .back
    font bold 20px 'Enriqueta', serif
    text-align center
    width 100%

    color #a8b4e3

    text-shadow 0 0 7px rgba(#233882, 0.75)
    -webkit-text-shadow 0 0 7px rgba(#233882, 0.75)
    -moz-text-shadow 0 0 7px rgba(#233882, 0.75)
    -o-text-shadow 0 0 7px rgba(#233882, 0.75)
    -ms-text-shadow 0 0 7px rgba(#233882, 0.75)

    cursor pointer

    text-transform uppercase

    margin-top 20px