.intro
  position absolute
  top 0
  left 0
  width 640px
  height 480px

  background url('../assets/images/background.png') no-repeat center

  .filsh-media
    display none
    .logo
      position absolute
      top 170px
      left 120px
    .text
      position absolute
      left 300px
      top 220px

  .mob
    position absolute
    top 175px
    left 125px

    width 130px

    opacity 0

  .ld
    position absolute
    top 200px
    left 100px

    display none