!!!5
html
  head
    title LD24 - Evolution
    link(rel="stylesheet", href="stylesheets/application.css")

    script(src="javascripts/lib/jquery.js")
    script(src="javascripts/lib/underscore.js")
    script(src="javascripts/lib/jwerty.js")
    script(src="javascripts/lib/eventemitter.js")

    script(src="javascripts/ld24/screen.js")
    script(src="javascripts/ld24/game.js")
    script(src="javascripts/ld24/scenes/gamescene.js")

    script(src="javascripts/ld24/mob.js")
    script(src="javascripts/ld24/mobs/player.js")
    script(src="javascripts/ld24/mobs/mote.js")
    script(src="javascripts/ld24/mobs/powerup.js")
    script(src="javascripts/ld24/mobs/bad.js")

    script(src="javascripts/ld24/particle.js")

    script(src="javascripts/ld24/level.js")
    script(src="javascripts/ld24/levels/1.js")

    script(src="javascripts/application.js")
  body
    .canvas-wrapper
      canvas
      .debug Debug

      .level-progress
        .level Level 1
        .progress
          .done