!!!5
html
  head
    title LD24 - Evolution
    link(rel="stylesheet", href="stylesheets/application.css")
    link(href='http://fonts.googleapis.com/css?family=Enriqueta:400,700', rel='stylesheet', type='text/css')

    script(src="javascripts/lib/jquery.js")
    script(src="javascripts/lib/underscore.js")
    script(src="javascripts/lib/jwerty.js")
    script(src="javascripts/lib/eventemitter.js")
    script(src="javascripts/lib/soundmanager2-jsmin.js")

    script(src="javascripts/ld24/screen.js")
    script(src="javascripts/ld24/game.js")
    script(src="javascripts/ld24/sounds.js")
    script(src="javascripts/ld24/scenes/splashscene.js")
    script(src="javascripts/ld24/scenes/gamescene.js")

    script(src="javascripts/ld24/mob.js")
    script(src="javascripts/ld24/mobs/player.js")
    script(src="javascripts/ld24/mobs/mote.js")
    script(src="javascripts/ld24/mobs/powerup.js")
    script(src="javascripts/ld24/mobs/powerup_speed.js")
    script(src="javascripts/ld24/mobs/powerup_attraction.js")
    script(src="javascripts/ld24/mobs/bad.js")

    script(src="javascripts/ld24/particle.js")

    script(src="javascripts/ld24/level.js")
    script(src="javascripts/ld24/levels/1.js")
    script(src="javascripts/ld24/levels/2.js")
    script(src="javascripts/ld24/levels/3.js")
    script(src="javascripts/ld24/levels/4.js")
    script(src="javascripts/ld24/levels/5.js")
    script(src="javascripts/ld24/levels/endless.js")

    script(src="javascripts/application.js")
  body
    .canvas-wrapper
      canvas
      .debug Debug

      .level-progress
        .level Level 1
        .progress
          .done

      .level-complete
      .level-complete-detail

      .continue Press [ENTER] to try again.

      .info-box
        .icon !
        .text

      .ingame-menu
        .paused Game paused.
        ul.menu
          li.continue Continue
          li.quit Quit

      .splash
        a(href="https://github.com/saschagehlich/ld24")
          img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", alt="Fork me on GitHub")

        .logo Absorption

        ul.menu
          li.campaign.active Campaign Mode
          li.endless Endless Mode
          li.about About

        .copyright 
          |Crafted with love and caffeine by Sascha Gehlich (
          a(href="http://twitter.com/rattazong", target="_blank") @rattazong
          |) for Ludum Dare #24