html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
ul {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #000;
}
* {
  -webkit-font-smoothing: antialiased;
}
.canvas-wrapper {
  width: 640px;
  height: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -240px;
  border: 3px solid rgba(255,255,255,0.2);
}
.canvas-wrapper canvas {
  width: 640px;
  height: 480px;
  image-rendering: optimizeQuality;
}
.canvas-wrapper .debug {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
  font: normal 10px Verdana;
  color: #f00;
  text-align: right;
  display: none;
}
.canvas-wrapper .level-progress {
  width: 461px;
  height: 29px;
  background: url("../assets/images/level-progress.png") no-repeat top left;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -230px;
  display: none;
}
.canvas-wrapper .level-progress .level {
  font: bold 12px Verdana;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -webkit-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -moz-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -o-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -ms-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  width: 95px;
  text-align: center;
  padding-top: 7px;
}
.canvas-wrapper .level-progress .progress {
  position: absolute;
  left: 99px;
  top: 3px;
  width: 359px;
  height: 23px;
}
.canvas-wrapper .level-progress .progress .done {
  width: 0;
  height: 23px;
  background: url("../assets/images/level-progress-done.png") repeat-x;
  position: absolute;
  top: 0;
  left: 0;
}
.canvas-wrapper .level-complete {
  font: normal 40px 'Enriqueta', serif;
  color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
  width: 640px;
  text-align: center;
  display: none;
}
.canvas-wrapper .level-complete-detail {
  font: normal 20px 'Enriqueta', serif;
  color: #fff;
  position: absolute;
  top: 150px;
  left: 0;
  width: 640px;
  text-align: center;
  display: none;
}
.canvas-wrapper div.continue {
  font: bold 20px 'Enriqueta', serif;
  position: absolute;
  top: 350px;
  left: 0;
  width: 640px;
  text-align: center;
  color: #a8b4e3;
  text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -webkit-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -moz-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -o-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -ms-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  display: none;
}
.canvas-wrapper .info-box {
  background: #a2a2a2;
  background: -moz-linear-gradient(top, #a2a2a2 0%, #404040 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a2a2a2), color-stop(100%, #404040));
  background: -webkit-linear-gradient(top, #a2a2a2 0%, #404040 100%);
  background: -o-linear-gradient(top, #a2a2a2 0%, #404040 100%);
  background: -ms-linear-gradient(top, #a2a2a2 0%, #404040 100%);
  background: linear-gradient(to bottom, #a2a2a2 0%, #404040 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 461px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -230px;
  min-height: 50px;
  display: none;
}
.canvas-wrapper .info-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  font: bold 30px 'Enriqueta', sans;
  text-align: center;
  color: rgba(0,0,0,0.23);
  background: rgba(0,0,0,0.13);
  width: 40px;
  height: 40px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
.canvas-wrapper .info-box .text {
  padding: 10px 5px 15px 5px;
  font: bold 12px 'Enriqueta', sans;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -webkit-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -moz-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -o-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  -ms-text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
  margin-left: 60px;
}
.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}
.splash .logo {
  position: absolute;
  top: 92px;
  left: 190px;
  font: bold 48px 'Enriqueta', sans;
  text-transform: uppercase;
  color: #e8e8e8;
  text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -webkit-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -moz-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -o-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -ms-text-shadow: 0 0 9px rgba(0,0,0,0.41);
}
.splash ul.menu {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -150px;
}
.splash ul.menu li {
  font: bold 24px 'Enriqueta', sans;
  color: #fff;
  cursor: pointer;
}
.splash ul.menu li.about {
  margin-top: 30px;
  font-size: 18px;
}
.splash ul.menu li.active {
  color: #a8b4e3;
  text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -webkit-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -moz-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -o-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -ms-text-shadow: 0 0 7px rgba(35,56,130,0.75);
}
.splash .copyright {
  font: bold 12px 'Enriqueta', sans;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.splash .copyright a {
  color: #a8b4e3;
  text-decoration: none;
}
.splash .copyright a:hover {
  color: #6d7ec2;
}
.ingame-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  display: none;
  background: rgba(0,0,0,0.3);
}
.ingame-menu .paused {
  position: absolute;
  top: 170px;
  text-align: center;
  width: 640px;
  font: bold 35px 'Enriqueta', sans;
  color: #e8e8e8;
  text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -webkit-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -moz-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -o-text-shadow: 0 0 9px rgba(0,0,0,0.41);
  -ms-text-shadow: 0 0 9px rgba(0,0,0,0.41);
}
.ingame-menu ul.menu {
  width: 300px;
  text-align: center;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -150px;
}
.ingame-menu ul.menu li {
  font: bold 24px 'Enriqueta', sans;
  color: #fff;
  cursor: pointer;
}
.ingame-menu ul.menu li.about {
  margin-top: 30px;
  font-size: 18px;
}
.ingame-menu ul.menu li.active {
  color: #a8b4e3;
  text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -webkit-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -moz-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -o-text-shadow: 0 0 7px rgba(35,56,130,0.75);
  -ms-text-shadow: 0 0 7px rgba(35,56,130,0.75);
}
.ingame-menu .copyright {
  font: bold 12px 'Enriqueta', sans;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.ingame-menu .copyright a {
  color: #a8b4e3;
  text-decoration: none;
}
.ingame-menu .copyright a:hover {
  color: #6d7ec2;
}
